# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{go,mod,sum}]
indent_style = tab
indent_size = 4

[*.{ts,js,mjs,cjs,json,yml,yaml,md,html,css,toml}]
indent_style = space
indent_size = 2

[*.{rs,toml}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*_test.go]
# same as Go; test helpers documented in .cursor/rules/go-tests.mdc
indent_style = tab
indent_size = 4
